*{
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
width: auto;
margin-top: 75px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid{
    display: grid;
    grid-template-rows: repeat(3, 50px 100px);
    
}
header{
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100 px;
    font-family:fantasy;
}

nav{
    background: rgb(65, 64, 64);
    height: 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

nav ul{
    list-style: none;
    display: inline-block;
    padding: 18px;
}
nav ul li{
    float: left; 
    list-style: none;
margin-top: 5px;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    margin-bottom: 5px;
}

.img-drone{
    width: 100%;
}

.logo{
    margin-top: 10px;
    margin-bottom: 10px;
 }

#footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-style: double; 
    }

form{
        width: 300px;
        text-align: center;
        margin-bottom: 10px;
}    

.Container2{
    width: auto;
    margin-top: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    @media screen and (max-width:980px) {
		.container {
			width:98%;
		}
        @media screen and (max-width:700px) {
            aside,section {
                float:none;
                width:96%;
            }
            nav, section {
                font-size:1.2em;
            }
            aside {
                margin-top:5px;
            }
            nav ul {
                float:none;
                clear:both;
            }
        }
     
        /* para 480px o menos */
        @media screen and (max-width:480px) {
            aside {
                display:none;
            }
            nav, section {
                font-size:1.5em;
            }
            section {
                width:94%;
            }
            nav ul {
                float:left;
                clear:none;
                width:50%;
            }
            nav ul li {
                float:none;
            }

